body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header {
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
  color: seashell;
}

/* Mission */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
  display: flex;
}

#mission .mission-info {
  display: block;
  margin: auto;
  background-color: black;
  width: 100%;
}


/* Featured */

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Locations */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations p {
  display: block;
}

.store {
  display: inline-block;
  width: 300px;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-direction: row;
  justify-content: center;
}

/* Footer */

.info {
  height: 200px;
}

.copyright {
  text-align: left;
}
